/* style */
body {
    font: 16px/28px arial, sans-serif;
    background-color: black;
    background-image: url(Future.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* top-bar */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: black;
    border-bottom: 3px solid blueviolet;
    z-index: 9999;
}

.tema {
    color: white;
    text-shadow: 0 0 20px blueviolet;
    font-size: 40px;
    font-family: arial, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

/* container */
.container {
    width: 1000px;
    margin: 80px auto;
    background-color: white;
    position: relative;
}

/* instagram */
.instagram {
    width: 50px;
    height: 50px;
    background-image: url(Instagram\ Logo\ BW\ Resize.png);
    background-repeat: no-repeat;
    background-color: blueviolet;
    border: 3px solid black;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* header */
.header {
    padding: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    background-color: black;
    color: blueviolet;
    padding: 3px;
}

.header a:hover {
    background-color: black;
    color: white;
    text-shadow: 0 0 20px blueviolet;
    transition: .5s ease-in-out;
    transition-delay: 3s;
    border-radius: 8px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* hero */
.hero {
    height: 320px;
    background-image: url(Website\ Programming.jpg);
    background-color: black;
    background-size: cover;
    background-position: 0 -1px;
    border-top: 5px solid blueviolet;
    border-bottom: 5px solid blueviolet;
}

/* main */
.main {
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 32px;
    font-weight: bold;
}

.main .penulis {
    font-size: 12px;
    margin-top: -5px;
}

.main .penulis a {
    background-color: black;
    color: blueviolet;
}
.main .penulis a:hover {
    background-color: black;
    color: white;
    text-shadow: 0 0 20px blueviolet;
    transition: .5s ease-in-out;
    transition-delay: 3s;
    border-radius: 8px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.main p {
    margin-bottom: 10px;
    font-size: 14px;
}

/* sidebar */
.sidebar {
    background-color: black;
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar img {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
}

.sidebar h3 {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 20px blueviolet;
}

.sidebar p {
    color: blueviolet;
    font: 12px/18px arial;
}

/* footer */
.footer {
    background-color: black;
    padding: 4px;
    border-top: 5px solid blueviolet;
}

.footer .copy {
    color: white;
    text-shadow: 0 0 20px blueviolet;
    text-align: center;
}



/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}